<%= form_with(model: @company, url: companies_path) do |form| %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<%= form_with(url: "/coop_home/status_list", method: "get") do |form| %>
<div class="container">
  <main>
    <div class="py-5 text-center">
        <h1 style="color: gray;">基本情報登録</h1>
    </div>

    <div class="col-12">
      <div style="display: flex; flex-direction: column; align-items: center;">
      <h4 style="margin-bottom: 10px;">はじめにあなたの会社情報を登録してください。</h4>
      <h4 style="margin-bottom: 10px;">あとから変更することもできます。</h4>
      
      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">会社名</p>
        <%= form.text_field :name, placeholder: '株式会社XX', style: "align-self: flex-start;" %>
      </div>

      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">所在地</p>
        <%= form.text_field :location, placeholder: '東京都渋谷区' %>
      </div>

      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">会社サイトURL</p>
        <%= form.text_field :url, placeholder: 'https://www.example.com' %>
      </div>

      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">正社員数</p>
        <%= form.text_field :worker, placeholder: '100' %>
      </div>

      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">設立年</p>
        <%= form.text_field :establish, placeholder: '1999' %>
      </div>

      <div style="display: flex; flex-direction: column;">
        <p style="margin-bottom: 10px; align-self: flex-start;">資本金</p>
        <%= form.text_field :asset, placeholder: '10000000' %>
        <%
=begin%>
 <div style="text-align: center;">
        <%= form.submit '登録' , style: "margin-top: 20px; background-color: purple; color: white; border: 2px solid purple; border-radius: 5px;" %>
        </div> 
<%
=end%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 30px;"></div>
  

<div class="col-12"; style="display: flex; flex-direction: column; align-items: center;">
  <div class="py-5 text-center">
    <h1 style="color: gray;">進出先の条件登録</h1>
  </div>
  <div style="margin-bottom: 10px;">
  </div>
  <div style="text-align: justify;">
    <h4>進出先の希望や条件を登録してください。</h4>
    <h4>登録することで条件にあった自治体からオファーが届いたり、</h4>
    <h4>リコメンドの制度が向上します</h4>
    <h4>後から変更することもできます。</h4>
  </div>
</div>

<div style="margin-bottom: 20px;">
</div>

<div style="text-align: center;">
  <h4>進出予定</h4><br>
  <%= form.radio_button :step_schedule, 'soon' %>
  <%= label :step_schedule_soon, 'すぐにでも進出したい', for: 'step_schedule_soon' %><br>

  <%= form.radio_button :step_schedule, 'before_one_year' %>
  <%= label :step_schedule_before_one_year, '1年以内に進出したい', for: 'step_schedule_before_one_year' %><br>

  <%= form.radio_button :step_schedule, 'after_one_year' %>
  <%= label :step_schedule_after_one_year, '1年以降に進出したい', for: 'step_schedule_after_one_year' %><br>

  <%= form.radio_button :step_schedule, 'no_plan' %>
  <%= label :step_schedule_no_plan, '具体的な時期は考えていない', for:'step_schedule_no_plan' %><br>
  
  <div style="margin-bottom: 20px;">
  </div>

  <h4>進出の目的</h4>

  <div style="margin-bottom: 20px;">
  </div>

  <%= form.check_box :interests, { multiple: true }, 'workation', nil %>
  <%= label :interests_workation, 'ワーケーション', for: 'interests_workation' %><br>

  <%= form.check_box :interests, { multiple: true }, 'human_resource', nil %>
  <%= label :interests_human_resource, '人材採用', for:'interests_human_resource' %><br>

  <%= form.check_box :interests, { multiple: true }, 'ease_cost', nil %>
  <%= label :interests_ease_cost, 'コスト削減', for: 'interests_ease_cost' %><br>

  <%= form.check_box :interests, { multiple: true }, 'bcp', nil %>
  <%= label :interests_bcp, 'BCP', for: 'interests_bcp' %><br>

  <%= form.check_box :interests, { multiple: true, id: 'other_interest_checkbox' }, 'other', nil %>
  <%= label :interests_other, 'その他', for: 'other_interest_checkbox' %>

  <%= form.text_field :interests_text, id: 'other_interest_textbox', style: 'display:none;', placeholder: 'その他の目的を入力してください' %>

  <div style="text-align: center;">
    <%= link_to '登録' , status_list_path, style: "margin-top: 20px; background-color: purple; color: white; border: 2px solid purple; border-radius: 5px;" %>
  </div>
  <% end %>
</div>

<div style="margin-bottom: 200px;">
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('other_interest_checkbox');
    const textbox = document.getElementById('other_interest_textbox');

    // チェックボックスの状態が変更されたときのイベントリスナー
    checkbox.addEventListener('change', function() {
      if (checkbox.checked) {
        // チェックボックスが選択された場合、テキストボックスを表示する
        textbox.style.display = 'block';
      } else {
        // チェックボックスが選択解除された場合、テキストボックスの値を削除して非表示にする
        textbox.value = '';
        textbox.style.display = 'none';
      }
    });
  });
</script>
